.plugin-column-content{
    background-color: #3a6248;
}

.plugin-edit-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: center;
    align-items: center;
    
}

.plugin-edit-actions {
    display: flex;
    flex-direction: column;
}

.change-ui-plugin-button {
    width: 200px;
    margin-top: 10px;
}

:host {
    flex: 1 1 auto;
}

