<div class="settings-container">
    <h2>Settings controlling the host application</h2>
    <mat-form-field appearance="fill">
        <mat-label>Number of columns</mat-label>
        <mat-select [(ngModel)]="nrColumnsSelectedOption">
          <mat-option *ngFor="let nr of numberOfColumns" [value]="nr" [selected]="nr === 3">
            {{nr}}
          </mat-option>
        </mat-select>
      </mat-form-field><mat-form-field appearance="fill">
        <mat-label>Number of rows</mat-label>
        <mat-select [(ngModel)]="nrRowsSelectedOption">
          <mat-option *ngFor="let nr of numberOfRows" [value]="nr" [selected]="nr === 3">
            {{nr}}
          </mat-option>
        </mat-select>
      </mat-form-field>           
      <button (click)="onSettingsSaved()" mat-raised-button color="primary">Apply</button>
</div>