<div class="plugins-list">
    <div *ngFor="let x of [].constructor(getNumberOfColumns()); let i=index" class="plugin-column-content">
        <div class="plugin-edit-content">
            <h3>Loaded Micro-Component: <b>{{getLoadedPluginForIndex(i)}}</b></h3>
            <div class="plugin-edit-actions">
                <button [disabled]="doesTileContainPlugin(i)" class="change-ui-plugin-button" (click)="onInstallPluginButtonPressed(i)" mat-raised-button color="primary">Install Micro-Component</button>
                <button [disabled]="!doesTileContainPlugin(i)"class="change-ui-plugin-button" (click)="onUninstallPluginButtonPressed(i)" mat-raised-button color="primary">Uninstall Micro-Component</button>
            </div>
        </div>
    </div>
</div>