.plugin-tile >::ng-deep .mat-figure{
    align-items: flex-start;
    justify-content: flex-start;
  }

.tile-contents-loaded-plugin {
    display: flex;
    flex-direction: row;
}

.tile-contents {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.change-ui-plugin-button {
    width: 200px;
    margin-right: 20px;
}

:host {
    flex: 1 1 auto;
}

.error-message-no-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}